// START PLAN TABLE
section#contact.contact
  .container
    // SECTION HEADER
    .section-header(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
      h2 Get in contact with Us
      .text-center
        address
          strong Company, Inc.
          br
          |   987 False Ave, Place 600
          br
          |   Somewhere ever, CA 32165
          br
          |
          abbr(title='Phone') P:
          |  (123) 456-7890
    img.img-fluid.rounded(src="img/contact.map.jpg", alt="Map")

    // SOCIAL SHARE
    ul.list-icons
      li
        a(href='')
          em.fab.fa-twitter-square
      li
        a(href='')
          em.fab.fa-facebook
      li
        a(href='')
          em.fab.fa-google-plus-square
      li
        a(href='')
          em.fab.fa-instagram
      li
        a(href='')
          em.fab.fa-flickr
      li
        a(href='')
          em.fab.fa-pinterest-square