// START DOWNLOAD
section#download.download
  .container
    h2(data-aos="fade-down", data-aos-offset='120', data-aos-duration='800') Get this app now on
    div(data-aos="fade-up", data-aos-offset='120', data-aos-duration='800')
      a.btn.btn-store.btn-theme(href='https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?ref=themicon')
        em.fab.fa-apple
        | Itunes Store
      a.btn.btn-store.btn-theme(href='https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?ref=themicon')
        em.fab.fa-android
        | Play Store
      a.btn.btn-store.btn-theme(href='https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?ref=themicon')
        em.fab.fa-windows
        | Windows Store

// END DOWNLOAD

