// START FEATURE LIST
section#features.features-list
  .container
    // START SECTION HEADER
    .section-header(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
      // SECTION TITLE
      h2 Full of Features
      .section-description Donec mauris arcu, vestibulum ac hendrerit ut, convallis cursus libero.
    // END SECTION HEADER
    .row
      // START FEATURES LEFT
      .col-lg-4.col-md-4.features-left
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon(data-aos="zoom-in", data-aos-offset='15', data-aos-duration='800')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fas.fa-random.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4 Responsive Layout
            p Prepared to be used on different resolutions and devices. Mobiles to desktops.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon(data-aos="zoom-in", data-aos-offset='15', data-aos-duration='800')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-rocket.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4 Bootstrap 4 based
            p Bootstrap 4 is powered with Flexbox Grid system and latest CSS features to build websites.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon(data-aos="zoom-in", data-aos-offset='15', data-aos-duration='800')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-crosshairs.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4 Cross Platform
            p Prepared from IE10+ versions to modern evergreen browsers like Chome, Firefox, etc.
      // END FEATURES LEFT

      // START MOBILE MOCKUP
      .col-lg-4.col-md-4
        .mockup-mobile(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
          img(src='img/iphone-minimal.png', alt='')
      // END MOBILE MOCKUP

      // START FEATURES RIGHT
      .col-lg-4.col-md-4.features-right
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon(data-aos="zoom-in", data-aos-offset='15', data-aos-duration='800')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.far.fa-moon.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4 Ready to Run and Start
            p Don't waste time configuring projects. Install, Run and Start working on your project.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon(data-aos="zoom-in", data-aos-offset='15', data-aos-duration='800')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-sitemap.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4 Full and Seed projects
            p Seed projects contains only basics to run the template. Choose the best for you.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon(data-aos="zoom-in", data-aos-offset='15', data-aos-duration='800')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-wrench.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4 Great Build Tools
            p Gulp, Webpack, etc. Each project has a build system that will easy your dev workflow.
      // END FEATURES RIGHT
// END FEATURE LIST

