// START PLAN TABLE
section#plans.plan-table
  .container
    // SECTION HEADER
    .section-header(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
      h2 Available Options
      .section-description
        u Pay once 
        | , get lifetime 
        u free updates.
    // END SECTION HEADER
    .row
      // PLAN
      .col-lg-4.col-md-4(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
        .plan
          h3.plan-header Single
          .plan-price
            h2
              sup: small $
              | 28
              // span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check.fa-fw
              | Unlimited Styles
            li
              em.fa.fa-check.fa-fw
              | RTL &amp; Translation
            li
              em.fa.fa-check.fa-fw
              | Customer support
            li
              em.fa.fa-check.fa-fw
              | Free Updates
            li
              em.fa.fa-check.fa-fw
              | Limited to one client
            li
              em.fa.fa-times.plan-feature-disable.fa-fw
              | Multiple installation
            li
              em.fa.fa-times.plan-feature-disable.fa-fw
              | Not ready for resale
          hr
          .text-center
            a.btn.btn-theme(href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?ref=themicon") Choose
      // PLAN
      .col-lg-4.col-md-4(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
        .plan
          h3.plan-header Multiple
          .plan-price
            h2
              sup: small $
              | 120
              // span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check.fa-fw
              | Unlimited Styles
            li
              em.fa.fa-check.fa-fw
              | RTL &amp; Translation
            li
              em.fa.fa-check.fa-fw
              | Customer support
            li
              em.fa.fa-check.fa-fw
              | Free Updates
            li
              em.fa.fa-check.fa-fw
              | Unlimited clients
            li
              em.fa.fa-check.fa-fw
              | Multiple installation
            li
              em.fa.fa-times.plan-feature-disable.fa-fw
              | Not ready for resale
          hr
          p.plan-description The perfect price for all your project solutions.
          .text-center
            a.btn.btn-theme(href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?ref=themicon&l=m") Choose
      // PLAN
      .col-lg-4.col-md-4(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
        .plan
          h3.plan-header Extended
          .plan-price
            h2
              sup: small $
              | 1050
              // span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check.fa-fw
              | Unlimited Styles
            li
              em.fa.fa-check.fa-fw
              | RTL &amp; Translation
            li
              em.fa.fa-check.fa-fw
              | Customer support
            li
              em.fa.fa-check.fa-fw
              | Free Updates
            li
              em.fa.fa-check.fa-fw
              | Unlimited clients
            li
              em.fa.fa-check.fa-fw
              | Multiple installation
            li
              em.fa.fa-check.fa-fw
              | Ready for resale
          hr
          .text-center
            a.btn.btn-theme(href="https://wrapbootstrap.com/theme/angle-bootstrap-admin-template-WB04HF123?ref=themicon&l=e") Choose
// END PLAN TABLE