// START PRODUCTS
section#products.products
    .container
        // SECTION HEADER
        .section-header(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
          h2 Our other products
          .section-description
            span Click on images and discover more products
        // END SECTION HEADER
        .row
            .col-lg-4
                .product-thumb(data-aos="fade-up", data-aos-offset="120" data-aos-duration="1000")
                    a(href="http://wrapbootstrap.com/preview/WB0901P31", target="_blank")
                        img.img-fluid(src="img/products/centric.png", alt="Centric")
                    h4.product-caption Centric
                        small Angular 6 and jQuery admin template
            .col-lg-4
                .product-thumb(data-aos="fade-up", data-aos-offset="120" data-aos-duration="1000")
                    a(href="http://wrapbootstrap.com/preview/WB099753H", target="_blank")
                        img.img-fluid(src="img/products/dasha.png", alt="Dasha")
                    h4.product-caption Dasha
                        small Angular 6 and Bootstrap 4 admin template
            .col-lg-4
                .product-thumb(data-aos="fade-up", data-aos-offset="120" data-aos-duration="1000")
                    a(href="http://wrapbootstrap.com/preview/WB020NMN7", target="_blank")
                        img.img-fluid(src="img/products/beadmin.png", alt="BeAdmin")
                    h4.product-caption BeAdmin
                        small jQuery and Laravel admin template
