// START APP SHOTS
section#shots.appshots
  .container
    // SECTION HEADER
    .section-header
      h2 App Shots
      .section-description Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    // END SECTION HEADER
    .row
      #appshots.owl-carousel.owl-theme
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/01.jpg', alt='App Shot')
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/03.jpg', alt='App Shot')
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/02.jpg', alt='App Shot')
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/04.jpg', alt='App Shot')
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/01.jpg', alt='App Shot')
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/03.jpg', alt='App Shot')
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/02.jpg', alt='App Shot')
        .shot
          a(href='javascript:void(0)')
            img(src='img/shots/04.jpg', alt='App Shot')
// END APP SHOTS

