// START APP SHOTS
section.versions#versions
  .container
    // START SECTION HEADER
    .section-header(data-aos="zoom-in", data-aos-offset='120', data-aos-duration='800')
      // SECTION TITLE
      h2 Multiple Versions
      .section-description Full features &amp; Seed projects. All versions ready to
        u.ml-1 run and start.
    // END SECTION HEADER
    .row
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/ngx.png", alt="Angular + CLI", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold Angular + CLI
                ul.m-0.pl-3
                    li Bootstrap 4
                    li @Angular/cli
                    li Typescript, SCSS &amp; HTML
                    li AOT &amp; Lazy-load
                .text-right: a.btn.btn-sm.btn-secondary(href="../../angular/") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/bs4.png", alt="Static HTML5", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold Static HTML5
                ul.m-0.pl-3
                    li Bootstrap 4
                    li Gulp build system
                    li PUG, SCSS &amp; JS
                    li NPM package manager
                .text-right: a.btn.btn-sm.btn-secondary(href="../../static-html") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/vue.png", alt="Vue.js", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold Vue.js
                ul.m-0.pl-3
                    li Bootstrap 4
                    li Vue CLI
                    li Vuex
                    li Lazy load routes
                .text-right: a.btn.btn-sm.btn-secondary(href="../../vue") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/react.png", alt="ReactJS", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold ReactJS
                ul.m-0.pl-3
                    li Bootstrap 4
                    li Create React App
                    li ES6, JSX &amp; SCSS
                    li Reactstrap
                .text-right: a.btn.btn-sm.btn-secondary(href="../../reactjs/") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/vs.png", alt="NET.Core 2 + Angular", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold ASP.NET Core 2 + Angular
                ul.m-0.pl-3
                    li Bootstrap 4
                    li Webpack 4 build system
                    li Typescript, SCSS &amp; HTML
                    li AOT &amp; Lazy-load
                .text-right: a.btn.btn-sm.btn-secondary(href="http://themicon-001-site1.atempurl.com/") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/angular-material.png", alt="Angular Material", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold Angular Material
                ul.m-0.pl-3
                    li Bootstrap 4
                    li @Angular/cli
                    li AOT &amp; Lazy-load
                    li Angular Material framework
                .text-right: a.btn.btn-sm.btn-secondary(href="../../material/") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/ror.png", alt="Ruby on Rails", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold Ruby on Rails
                ul.m-0.pl-3
                    li Bootstrap 4
                    li Assets pipeline
                    li JS, SCSS &amp; ERB
                    li NPM integration
                .text-right: a.btn.btn-sm.btn-secondary(href="https://angle-on-rails.herokuapp.com/") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/meteor.png", alt="MeteorJS", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold MeteorJS
                ul.m-0.pl-3
                    li Bootstrap 4
                    li JS with ES6, SCSS &amp; Blaze
                    li Flow Router
                    li NPM package manager
                .text-right: a.btn.btn-sm.btn-secondary(href="http://45.55.64.191") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/net.png", alt="MVC5", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold VS2017 - ASP.NET MVC 5
                ul.m-0.pl-3
                    li Bootstrap 4
                    li Gulp build system
                    li JS, SCSS &amp; Razor
                    li NPM package manager
                .text-right: a.btn.btn-sm.btn-secondary(href="http://themicon-001-site5.atempurl.com/") Live Demo
      .col-xl-6.col-lg-6.col-12
        .media.mb-4.border.p-3
            img.align-self-center.ml-md-4.mr-md-5.mr-3.img-fluid.version-pic(src="img/versions/vs.png", alt="ASP.NET Core 2", data-aos="zoom-in", data-aos-offset='15', data-aos-duration='500')
            .media-body
                h4.mt-0.font-weight-bold VS2017 - ASP.NET Core 2
                ul.m-0.pl-3
                    li Bootstrap 4
                    li Gulp build system
                    li JS, SCSS &amp; Razor
                    li NPM package manager
                .text-right: a.btn.btn-sm.btn-secondary(href="http://themicon-001-site2.atempurl.com/") Live Demo
