/* ========================================================================
   Component: Download
 ========================================================================== */

.download {
    padding: 110px 0;
    text-align: center;
    color: #fff;
    // Background image fallback
    background: url('../img/bg-fallback-download.jpg') no-repeat center;
    background-size: cover;
    h2 {
        margin-top: 0;
        margin-bottom: 30px;
        @include media-breakpoint-down(sm) {
            font-size: 2rem;
            line-height: 2.625rem;
        }
    }
}
