/* ========================================================================
   Component: Navbar Sticky (boostrap based)
 ========================================================================== */

.navbar-sticky {
    background: #fff;
    border: none;
    margin-bottom: 0 !important;
    backface-visibility: hidden;
    box-shadow: 0px 2px 7px 0px rgba(53, 53, 53, 0.1);

    .navbar-brand {
        img {
            max-height: 30px;
            backface-visibility: hidden;
        }
    }

    .main-navbar {
        .nav-item {
            .nav-link {
                line-height: 30px;
                font-weight: 400;
                font-size: 13px;
                text-transform: uppercase;
                color: darken($gray, 15%);
                padding-left: 1rem;
                padding-right: 1rem;
                &.current, &:hover {
                    color: $gray-darker;
                }
            }


            &:last-child .nav-link {
                padding-right: 0;
            }
        }
    }
}

.navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
}
