// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// --- Datatables
//= require datatables.net-bs4/css/dataTables.bootstrap4
//= require datatables.net-keytable-bs/css/keyTable.bootstrap
//= require datatables.net-responsive-bs/css/responsive.bootstrap

// --- JQCloud
//= require jqcloud2/dist/jqcloud.css

// --- Chosen
//= require chosen-js/chosen
