<div class="content-heading">
   <div>Animations
      <small>animo is a powerful little tool that makes managing CSS animations extremely easy.</small>
   </div>
</div>
<!-- START row-->
<div class="row">
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounce">
         <div class="card-header">bounce</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounce" data-play="bounce">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-flash">
         <div class="card-header">flash</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-flash" data-play="flash">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-pulse">
         <div class="card-header">pulse</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-pulse" data-play="pulse">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rubberBand">
         <div class="card-header">rubberBand</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rubberBand" data-play="rubberBand">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-shake">
         <div class="card-header">shake</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-shake" data-play="shake">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-swing">
         <div class="card-header">swing</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-swing" data-play="swing">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-tada">
         <div class="card-header">tada</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-tada" data-play="tada">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-wobble">
         <div class="card-header">wobble</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-wobble" data-play="wobble">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceIn">
         <div class="card-header">bounceIn</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceIn" data-play="bounceIn">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceInDown">
         <div class="card-header">bounceInDown</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceInDown" data-play="bounceInDown">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceInLeft">
         <div class="card-header">bounceInLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceInLeft" data-play="bounceInLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceInRight">
         <div class="card-header">bounceInRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceInRight" data-play="bounceInRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceInUp">
         <div class="card-header">bounceInUp</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceInUp" data-play="bounceInUp">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceOut">
         <div class="card-header">bounceOut</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceOut" data-play="bounceOut">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceOutDown">
         <div class="card-header">bounceOutDown</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceOutDown" data-play="bounceOutDown">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceOutLeft">
         <div class="card-header">bounceOutLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceOutLeft" data-play="bounceOutLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceOutRight">
         <div class="card-header">bounceOutRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceOutRight" data-play="bounceOutRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-bounceOutUp">
         <div class="card-header">bounceOutUp</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-bounceOutUp" data-play="bounceOutUp">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeIn">
         <div class="card-header">fadeIn</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeIn" data-play="fadeIn">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInDown">
         <div class="card-header">fadeInDown</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInDown" data-play="fadeInDown">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInDownBig">
         <div class="card-header">fadeInDownBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInDownBig" data-play="fadeInDownBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInLeft">
         <div class="card-header">fadeInLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInLeft" data-play="fadeInLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInLeftBig">
         <div class="card-header">fadeInLeftBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInLeftBig" data-play="fadeInLeftBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInRight">
         <div class="card-header">fadeInRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInRight" data-play="fadeInRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInRightBig">
         <div class="card-header">fadeInRightBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInRightBig" data-play="fadeInRightBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInUp">
         <div class="card-header">fadeInUp</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInUp" data-play="fadeInUp">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeInUpBig">
         <div class="card-header">fadeInUpBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeInUpBig" data-play="fadeInUpBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOut">
         <div class="card-header">fadeOut</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOut" data-play="fadeOut">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutDown">
         <div class="card-header">fadeOutDown</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutDown" data-play="fadeOutDown">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutDownBig">
         <div class="card-header">fadeOutDownBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutDownBig" data-play="fadeOutDownBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutLeft">
         <div class="card-header">fadeOutLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutLeft" data-play="fadeOutLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutLeftBig">
         <div class="card-header">fadeOutLeftBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutLeftBig" data-play="fadeOutLeftBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutRight">
         <div class="card-header">fadeOutRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutRight" data-play="fadeOutRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutRightBig">
         <div class="card-header">fadeOutRightBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutRightBig" data-play="fadeOutRightBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutUp">
         <div class="card-header">fadeOutUp</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutUp" data-play="fadeOutUp">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-fadeOutUpBig">
         <div class="card-header">fadeOutUpBig</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-fadeOutUpBig" data-play="fadeOutUpBig">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-flip">
         <div class="card-header">flip</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-flip" data-play="flip">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-flipInX">
         <div class="card-header">flipInX</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-flipInX" data-play="flipInX">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-flipInY">
         <div class="card-header">flipInY</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-flipInY" data-play="flipInY">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-flipOutX">
         <div class="card-header">flipOutX</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-flipOutX" data-play="flipOutX">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-flipOutY">
         <div class="card-header">flipOutY</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-flipOutY" data-play="flipOutY">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-lightSpeedIn">
         <div class="card-header">lightSpeedIn</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-lightSpeedIn" data-play="lightSpeedIn">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-lightSpeedOut">
         <div class="card-header">lightSpeedOut</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-lightSpeedOut" data-play="lightSpeedOut">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateIn">
         <div class="card-header">rotateIn</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateIn" data-play="rotateIn">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateInDownLeft">
         <div class="card-header">rotateInDownLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateInDownLeft" data-play="rotateInDownLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateInDownRight">
         <div class="card-header">rotateInDownRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateInDownRight" data-play="rotateInDownRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateInUpLeft">
         <div class="card-header">rotateInUpLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateInUpLeft" data-play="rotateInUpLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateInUpRight">
         <div class="card-header">rotateInUpRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateInUpRight" data-play="rotateInUpRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateOut">
         <div class="card-header">rotateOut</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateOut" data-play="rotateOut">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateOutDownLeft">
         <div class="card-header">rotateOutDownLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateOutDownLeft" data-play="rotateOutDownLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateOutDownRight">
         <div class="card-header">rotateOutDownRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateOutDownRight" data-play="rotateOutDownRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateOutUpLeft">
         <div class="card-header">rotateOutUpLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateOutUpLeft" data-play="rotateOutUpLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rotateOutUpRight">
         <div class="card-header">rotateOutUpRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rotateOutUpRight" data-play="rotateOutUpRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-hinge">
         <div class="card-header">hinge</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-hinge" data-play="hinge">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rollIn">
         <div class="card-header">rollIn</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rollIn" data-play="rollIn">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-rollOut">
         <div class="card-header">rollOut</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-rollOut" data-play="rollOut">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomIn">
         <div class="card-header">zoomIn</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomIn" data-play="zoomIn">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomInDown">
         <div class="card-header">zoomInDown</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomInDown" data-play="zoomInDown">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomInLeft">
         <div class="card-header">zoomInLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomInLeft" data-play="zoomInLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomInRight">
         <div class="card-header">zoomInRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomInRight" data-play="zoomInRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomInUp">
         <div class="card-header">zoomInUp</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomInUp" data-play="zoomInUp">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomOut">
         <div class="card-header">zoomOut</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomOut" data-play="zoomOut">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomOutDown">
         <div class="card-header">zoomOutDown</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomOutDown" data-play="zoomOutDown">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomOutLeft">
         <div class="card-header">zoomOutLeft</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomOutLeft" data-play="zoomOutLeft">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomOutRight">
         <div class="card-header">zoomOutRight</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomOutRight" data-play="zoomOutRight">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
   <div class="col-sm-6 col-lg-3 col-xl-2">
      <!-- START card-->
      <div class="card card-default" id="card-anim-zoomOutUp">
         <div class="card-header">zoomOutUp</div>
         <div class="card-body">
            <!-- Animation trigger-->
            <a href="javascript:void(0)" data-animate="" data-target="#card-anim-zoomOutUp" data-play="zoomOutUp">
               <em class="fa fa-play fa-2x"></em>
            </a>
         </div>
      </div>
      <!-- END card-->
   </div>
</div>
<!-- END row-->