@{
    ViewBag.Title = "ChartRickshaw";
}
<div class="content-heading">Rickshaw</div>
<div class="container-fluid">
   <div class="card card-default">
      <div class="card-header">Rickshaw graph</div>
      <div class="card-body">
         <div id="rickshaw1"></div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-4">
         <div class="card card-default">
            <div class="card-header">Stacked Area</div>
            <div class="card-body">
               <div id="rickshaw2"></div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="card card-default">
            <div class="card-header">Line</div>
            <div class="card-body">
               <div id="rickshaw3"></div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="card card-default">
            <div class="card-header">Stacked Bars</div>
            <div class="card-body">
               <div id="rickshaw4"></div>
            </div>
         </div>
      </div>
   </div>
</div>

@section Styles {
    <environment names="Development">
        <link href="~/vendor/rickshaw/rickshaw.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/vendor/rickshaw/rickshaw.css" rel="stylesheet" />
    </environment>
}

@section Scripts {

    <environment names="Development">
        <script src="~/vendor/d3/d3.js"></script>
        <script src="~/vendor/rickshaw/rickshaw.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/vendor/d3/d3.js"></script>
        <script src="~/vendor/rickshaw/rickshaw.js"></script>
    </environment>

}
