// VENDOR SCRIPTS
script(src="vendor/jquery/dist/jquery.js")
script(src="vendor/jquery.easing/jquery.easing.js")
script(src="vendor/popper.js/dist/umd/popper.js")
script(src="vendor/bootstrap/dist/js/bootstrap.js")
script(src="vendor/jquery.waitforimages/dist/jquery.waitforimages.js")
script(src="vendor/owl.carousel/dist/owl.carousel.js")
script(src="vendor/aos/dist/aos.js")

// SITE SCRIPTS
script(src="js/scripts.js")
